footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 60px;
	background: #00FF00;
	color: white;
	border-bottom: 1px solid #CCCCCC;
}
