header {
	background: #FF0000;
	color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	align-items: center;
}

.logo {
	background: url('../images/229FEA95-5852-49F4-946B-289EDB14CD58.png') no-repeat center;
	width: 140px;
	height: 50px;
	padding-left: 20px;
}
